form{
    p{
        border-bottom:1.5px dashed rgb(167, 167, 167);
        padding-bottom: 20px;
    }


      input[type='text'],input[type='password']{
        max-width: 380px;
        width:90%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top:10px;
      }
     
      .error {
        color: red;
        font-size:12px;
      }
      
      button{
        background:red;
        color:white;
        border:1px solid #ccc;
        border-radius:4px;
        padding: 8px 16px;
      }
}

.AdminGrid, .LoginGrid{
    display:grid;
    grid-template-columns: 75% 25%;
    grid-gap:20px;
    padding:20px;
    padding-right:30px;
    box-sizing:border-box;
    width:100%;
    max-width:982px;
    margin:auto;
    button{
            background:red;
            color:white;
            border:1px solid #ccc;
            border-radius:4px;
            padding: 8px 16px;
    }

    .griditem2{
      box-sizing:border-box;
        padding-left:20px;
        border-left: 1px solid rgb(180, 180, 180);
    }
}
