.Rooms{
    .Header{
        width:100%;
        object-fit:cover;
        height:54vh;
    }

    .SiteTitle{
        position:absolute;
        width:100%;
        text-align:center;
        height:54vh;
        img{
            padding-top:150px;
            width:100%;
            max-width:672px;
        }
    }
    .RoomsGrid{
        width:100%;
        max-width:982px;
        margin:auto;
        display:grid;
        grid-template-columns: 70% auto;
        grid-gap:60px;
        padding-bottom:50px;
        padding-top:50px;
        box-sizing:border-box;
        grid-template-areas: "content menu";
        .links{
            .roomListImg{
                width:100%;
                object-fit:cover;
                max-width:7vw;
                max-height:5vw;
                display:inline-block;
                vertical-align:middle;
                margin-bottom:10px;
            }
            p{
                display:inline-block;
                padding-left: 10px;
                font-weight:400;
            }
        }
    }
    .griditem2{
        border-left: 1px solid rgb(185, 185, 185);
        padding-left:25px;
        grid-area:menu;
        .RoomListGrid{
            display:grid;
            grid-template-columns: auto;
        }
      }

    .griditem1{
        grid-area:content;
        .ImagesGrid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top:50px;
            grid-gap:10px;
            img{
            width:100%;
            }
        }
        .SVG{
            object-fit: unset;
            max-width:40px;
            vertical-align:middle;
            height:40px;
            padding-right:8px;
            opacity:0.6;
        }
        .FaciliteterBox{
            display:grid;
            grid-template-columns: auto auto auto;
            column-gap:32px;
            p{
                font-size:9pt;
            }
            .checkmark{
                vertical-align: bottom;
            }
        }
        .price{
            float:right;
            font-weight:bold;
        }
    }
}